# What is a Series ?
By:<a href='https://www.youtube.com/wonkyCode'>WonkyCode</a>
* A Series is a one dimensional labeled array (Powerful version of a list).
* Pandas Series stores id data in a sequential order. It is a one column information.
* A Series can take any type of data, but it should be consistent throughout the series.

# Creating Series
**Using List:**

In [1]:
import pandas as pd

# Use constructor method Series()
pd.Series( ["Apple", "Banana", "Orange", "Watermelon"] )

0         Apple
1        Banana
2        Orange
3    Watermelon
dtype: object

In [2]:
items = pd.Series( ["Apple", "Banana", "Orange", "Watermelon"] )

In [3]:
items

0         Apple
1        Banana
2        Orange
3    Watermelon
dtype: object

In [4]:
type(items)

pandas.core.series.Series

In [5]:
mynums = [457,78,35,21,45,6]
pd.Series(mynums)

0    457
1     78
2     35
3     21
4     45
5      6
dtype: int64

In [6]:
mybools = [True, False, True, True, False]
pd.Series(mybools)

0     True
1    False
2     True
3     True
4    False
dtype: bool

**Using Dictionary:**

In [7]:
mydict = {
    "Name" : "Rohit",
    "Age" : 25,
    "Profession" : "Software Engineer"
}

pd.Series(mydict)

Name                      Rohit
Age                          25
Profession    Software Engineer
dtype: object

The index labels need not be unique

In [8]:
mydict = {
    "Name" : "Rohit",
    "Age" : 25,
    "Profession" : "Software Engineer",
    "Profession" : "Content Creator"
}

pd.Series(mydict)

Name                    Rohit
Age                        25
Profession    Content Creator
dtype: object

**Useful References:**
* https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.html
* https://www.tutorialspoint.com/python_pandas/python_pandas_series.htm