# Reading a CSV File
By:<a href='https://www.youtube.com/wonkyCode'>WonkyCode</a>

In [1]:
import pandas as pd

pd.read_csv("datasets/basketball.csv")

,League,Season,Stage,Player,Team,GP,MIN,FGM,FGA,3PM,...,PTS,birth_year,birth_month,birth_date,height,height_cm,weight,weight_kg,nationality,high_school
0,NBA,2019 - 2020,Regular_Season,James Harden,HOU,68,2482.6,672,1514,299,...,2335,1989.0,Aug,"Aug 26, 1989",06-May,196.0,220.0,100.0,United States,Artesia High School
1,NBA,2019 - 2020,Regular_Season,Damian Lillard,POR,66,2473.7,624,1349,270,...,1978,1990.0,Jul,"Jul 15, 1990",06-Mar,191.0,195.0,88.0,United States,Oakland High School
2,NBA,2019 - 2020,Regular_Season,Devin Booker,PHX,70,2511.8,627,1283,141,...,1863,1996.0,Oct,"Oct 30, 1996",06-Jun,198.0,206.0,93.0,United States,Moss Point High School
3,NBA,2019 - 2020,Regular_Season,Giannis Antetokounmpo,MIL,63,1916.9,685,1238,89,...,1857,1994.0,Dec,"Dec 6, 1994",06-Nov,211.0,242.0,110.0,Greece / Nigeria,NaN
4,NBA,2019 - 2020,Regular_Season,Trae Young,ATL,60,2120.1,546,1249,205,...,1778,1998.0,Sep,"Sep 19, 1998",06-Feb,188.0,180.0,82.0,United States,Norman High School
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53793,NBA,1999 - 2000,Playoffs,John Salley,LAL,18,78.0,5,13,0,...,17,1964.0,May,"May 16, 1964",06-Nov,211.0,230.0,104.0,United States,Canarsie High School
53794,NBA,1999 - 2000,Playoffs,Muggsy Bogues,TOR,3,87.0,6,21,3,...,16,1965.0,Jan,"Jan 9, 1965",05-Mar,160.0,136.0,62.0,United States,Dunbar High School
53795,NBA,1999 - 2000,Playoffs,Jerome Williams,DET,3,73.0,7,14,0,...,15,1973.0,May,"May 10, 1973",06-Sep,206.0,206.0,93.0,United States,Magruder High School
53796,NBA,1999 - 2000,Playoffs,Randy Livingston,PHX,7,63.0,6,27,2,...,14,1975.0,Apr,"Apr 2, 1975",06-Apr,193.0,209.0,95.0,United States,Isidore Newman School
53797,NBA,1999 - 2000,Playoffs,Doug Christie,TOR,3,61.0,3,13,3,...,12,1970.0,May,"May 9, 1970",06-Jun,198.0,200.0,91.0,United States,Rainier Beach High School

usecols - take the given column names

In [2]:
pd.read_csv("datasets/basketball.csv", usecols=["Player"])

                      Player
0               James Harden
1             Damian Lillard
2               Devin Booker
3      Giannis Antetokounmpo
4                 Trae Young
...                      ...
53793            John Salley
53794          Muggsy Bogues
53795        Jerome Williams
53796       Randy Livingston
53797          Doug Christie

[53798 rows x 1 columns]

squeeze - converts a single column dataframe into series

In [3]:
player_names = pd.read_csv("datasets/basketball.csv", usecols=["Player"], squeeze=True)

In [4]:
player_names

0                 James Harden
1               Damian Lillard
2                 Devin Booker
3        Giannis Antetokounmpo
4                   Trae Young
                 ...
53793              John Salley
53794            Muggsy Bogues
53795          Jerome Williams
53796         Randy Livingston
53797            Doug Christie
Name: Player, Length: 53798, dtype: object

In [5]:
points = pd.read_csv("datasets/basketball.csv", usecols=["PTS"], squeeze=True)

In [6]:
print(points)

0        2335
1        1978
2        1863
3        1857
4        1778
         ...
53793      17
53794      16
53795      15
53796      14
53797      12
Name: PTS, Length: 53798, dtype: int64

**Useful References:**
* https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html