# Print n Number of Rows from a Dataset
By:<a href='https://www.youtube.com/wonkyCode'>WonkyCode</a>

**Using head() method** to print first n number of rows.

In [1]:
import pandas as pd

player_names = pd.read_csv("datasets/basketball.csv", usecols=["Player"], squeeze=True)

In [4]:
player_names.head() #by default it prints first 5 rows

0             James Harden
1           Damian Lillard
2             Devin Booker
3    Giannis Antetokounmpo
4               Trae Young
Name: Player, dtype: object

* By default, it prints first 5 rows.
* It creates a copy of a portion of the series.
* It takes optional parameter to display n no of rows.

In [5]:
player_names.head(10)

0             James Harden
1           Damian Lillard
2             Devin Booker
3    Giannis Antetokounmpo
4               Trae Young
5              Luka Doncic
6             Bradley Beal
7             LeBron James
8         Donovan Mitchell
9            Anthony Davis
Name: Player, dtype: object

In [6]:
player_names.head(3)

0      James Harden
1    Damian Lillard
2      Devin Booker
Name: Player, dtype: object

**Using tail() method** to print last n no of rows

In [7]:
player_names.tail()

53793         John Salley
53794       Muggsy Bogues
53795     Jerome Williams
53796    Randy Livingston
53797       Doug Christie
Name: Player, dtype: object

* It also takes an optional parameter

In [8]:
player_names.tail(10)

53788    Christian Laettner
53789          Scot Pollard
53790          Terry Porter
53791             Joe Smith
53792           Greg Foster
53793           John Salley
53794         Muggsy Bogues
53795       Jerome Williams
53796      Randy Livingston
53797         Doug Christie
Name: Player, dtype: object

In [9]:
player_names.tail(3)

53795     Jerome Williams
53796    Randy Livingston
53797       Doug Christie
Name: Player, dtype: object

**Useful References:**
* https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.head.html
* https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.tail.html