# Math Methods
By:<a href='https://www.youtube.com/wonkyCode'>WonkyCode</a>

In [3]:
import pandas as pd

points = pd.read_csv("datasets/basketball.csv", usecols=["PTS"], squeeze=True)

In [4]:
points.head(3)

0    2335
1    1978
2    1863
Name: PTS, dtype: int64

In [5]:
points.count()

53798

In [6]:
len(points)

53798

In [7]:
points.sum()

16766728

In [8]:
points.mean()

311.66080523439535

In [9]:
points.sum()/points.count()

311.66080523439535

In [10]:
points.std()

271.9220792754794

In [11]:
points.min()

0

In [12]:
points.max()

2832

In [13]:
points.median()

248.0

In [14]:
points.mode() # Always returns Series even if only one value is returned.

0    79
dtype: int64

In [15]:
points.describe()

count    53798.000000
mean       311.660805
std        271.922079
min          0.000000
25%        134.000000
50%        248.000000
75%        400.000000
max       2832.000000
Name: PTS, dtype: float64

**Useful References:**
* https://www.geeksforgeeks.org/python-math-operations-for-data-analysis/