# The <code>value_counts()</code> Method
By:<a href='https://www.youtube.com/wonkyCode'>WonkyCode</a>

In [1]:
import pandas as pd

player_names = pd.read_csv("datasets/basketball.csv", usecols=["Player"], squeeze=True)

In [2]:
player_names.head()

0             James Harden
1           Damian Lillard
2             Devin Booker
3    Giannis Antetokounmpo
4               Trae Young
Name: Player, dtype: object

* <code>value_counts()</code> Return a Series containing counts of unique values.
* The resulting object will be in descending order so that the first element is the most frequently-occurring element. Excludes NA values by default.

In [3]:
player_names.value_counts()

Anton Gavel          36
Ricky Paulding       35
Tony Parker          34
Dirk Nowitzki        32
Tim Duncan           32
                     ..
Oyvind Fritzen        1
Burak Sezgin          1
Marek Ruut            1
Viljami Vanjoki       1
Guillermo Aliende     1
Name: Player, Length: 14574, dtype: int64

In [4]:
player_names.value_counts(ascending=True)

Guillermo Aliende     1
Viljami Vanjoki       1
Marek Ruut            1
Burak Sezgin          1
Oyvind Fritzen        1
                     ..
Tim Duncan           32
Dirk Nowitzki        32
Tony Parker          34
Ricky Paulding       35
Anton Gavel          36
Name: Player, Length: 14574, dtype: int64

In [5]:
player_names.count()

53798

In [6]:
player_names.value_counts(normalize=True)

Anton Gavel          0.000669
Ricky Paulding       0.000651
Tony Parker          0.000632
Dirk Nowitzki        0.000595
Tim Duncan           0.000595
                       ...
Oyvind Fritzen       0.000019
Burak Sezgin         0.000019
Marek Ruut           0.000019
Viljami Vanjoki      0.000019
Guillermo Aliende    0.000019
Name: Player, Length: 14574, dtype: float64

In [7]:
player_names.value_counts().sum()

53798

In [8]:
player_names.count()

53798

**Useful References:**
* https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.value_counts.html
* https://www.geeksforgeeks.org/python-pandas-series-value_counts/