# The <code>map()</code> Method
By:<a href='https://www.youtube.com/wonkyCode'>WonkyCode</a>

* <code>map()</code> is used to map values from two series having one column same. For mapping two series, the last column of the first series should be same as index column of the second series, also the values should be unique.

In [2]:
import pandas as pd
import numpy as np

**Can be used to format the values**

In [3]:
prices = pd.Series([12.65, 56.32, 78.36, np.nan, 654.2, 789])

In [4]:
prices

0     12.65
1     56.32
2     78.36
3       NaN
4    654.20
5    789.00
dtype: float64

In [5]:
prices.map(lambda price : f'{price}$')

0    12.65$
1    56.32$
2    78.36$
3      nan$
4    654.2$
5    789.0$
dtype: object

In [6]:
prices.map(lambda price : f'{price}$', na_action='ignore')

0    12.65$
1    56.32$
2    78.36$
3       NaN
4    654.2$
5    789.0$
dtype: object

In [8]:
prices = pd.Series(["12.65$", "56.32$", "78.36$", np.nan, "654.2$", "789$"])

In [9]:
prices

0    12.65$
1    56.32$
2    78.36$
3       NaN
4    654.2$
5      789$
dtype: object

In [10]:
prices.map(lambda price : float(price[ : -1]))

TypeError: 'float' object is not subscriptable

In [11]:
prices.map(lambda price : float(price[ : -1]), na_action='ignore')

0     12.65
1     56.32
2     78.36
3       NaN
4    654.20
5    789.00
dtype: float64

**Can also be used to apply function on a value in Series**

In [15]:
def shortIt(name):
    return ''.join(i[0].upper() for i in name.split())

In [16]:
player_names = pd.read_csv("datasets/basketball.csv", usecols=["Player"], squeeze=True)

In [17]:
player_names.map(shortIt)

0        JH
1        DL
2        DB
3        GA
4        TY
         ..
53793    JS
53794    MB
53795    JW
53796    RL
53797    DC
Name: Player, Length: 53798, dtype: object

**Can be used to map two series**

In [18]:
salary = pd.Series(data = [1,2,3,4,5],index = [4545, 7898, 3265, 9784, 2589])

In [19]:
salary

4545    1
7898    2
3265    3
9784    4
2589    5
dtype: int64

In [20]:
employees = pd.Series(["Rohit", "Shakeer", "Harsha", "Saran", "Abhijith"])

In [21]:
employees

0       Rohit
1     Shakeer
2      Harsha
3       Saran
4    Abhijith
dtype: object

In [22]:
salary.map(employees)

4545     Shakeer
7898      Harsha
3265       Saran
9784    Abhijith
2589         NaN
dtype: object

In [23]:
employees = pd.Series({1: "Rohit", 
                       2:"Shakeer", 
                       3:"Harsha", 
                       4:"Saran", 
                       5:"Abhijith"
                      })

In [24]:
salary.map(employees)

4545       Rohit
7898     Shakeer
3265      Harsha
9784       Saran
2589    Abhijith
dtype: object

**Useful References:**
* https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.map.html
* https://towardsdatascience.com/understand-map-function-to-manipulate-pandas-series-8ac340d514f7