# Common Methods and Attributes of Series and Dataframe
By:<a href='https://www.youtube.com/wonkyCode'>WonkyCode</a>

In [1]:
import pandas as pd

dataset = pd.read_csv("datasets/netflix.csv")

In [2]:
dataset.head(3)

,show id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...
1,80117401,Movie,Jandino: Whatever it Takes,NaN,Jandino Asporaat,United Kingdom,"September 9, 2016",2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...
2,70234439,TV Show,Transformers Prime,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,"September 8, 2018",2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob..."

In [3]:
dataset.tail(3)

,show id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
6231,80116008,Movie,Little Baby Bum: Nursery Rhyme Friends,NaN,NaN,NaN,NaN,2016,NaN,60 min,Movies,Nursery rhymes and original music for children...
6232,70281022,TV Show,A Young Doctor's Notebook and Other Stories,NaN,"Daniel Radcliffe, Jon Hamm, Adam Godley, Chris...",United Kingdom,NaN,2013,TV-MA,2 Seasons,"British TV Shows, TV Comedies, TV Dramas","Set during the Russian Revolution, this comic ..."
6233,70153404,TV Show,Friends,NaN,"Jennifer Aniston, Courteney Cox, Lisa Kudrow, ...",United States,NaN,2003,TV-14,10 Seasons,"Classic & Cult TV, TV Comedies",This hit sitcom follows the merry misadventure...

In [4]:
dataset.index

RangeIndex(start=0, stop=6234, step=1)

In [5]:
dataset.values

array([[81145628, 'Movie', 'Norm of the North: King Sized Adventure',
        ..., '90 min', 'Children & Family Movies, Comedies',
        'Before planning an awesome wedding for his grandfather, a polar bear king must take back a stolen artifact from an evil archaeologist first.'],
       [80117401, 'Movie', 'Jandino: Whatever it Takes', ..., '94 min',
        'Stand-Up Comedy',
        'Jandino Asporaat riffs on the challenges of raising kids and serenades the audience with a rousing rendition of "Sex on Fire" in his comedy show.'],
       [70234439, 'TV Show', 'Transformers Prime', ..., '1 Season',
        "Kids' TV",
        'With the help of three human allies, the Autobots once again protect Earth from the onslaught of the Decepticons and their leader, Megatron.'],
       ...,
       [80116008, 'Movie', 'Little Baby Bum: Nursery Rhyme Friends', ...,
        '60 min', 'Movies',
        'Nursery rhymes and original music for children accompanied by bright, playful animation engage and educate about numbers, shapes, colors and more.'],
       [70281022, 'TV Show',
        "A Young Doctor's Notebook and Other Stories", ..., '2 Seasons',
        'British TV Shows, TV Comedies, TV Dramas',
        "Set during the Russian Revolution, this comic miniseries is based on a doctor's memories of his early career working in an out-of-the-way village."],
       [70153404, 'TV Show', 'Friends', ..., '10 Seasons',
        'Classic & Cult TV, TV Comedies',
        'This hit sitcom follows the merry misadventures of six 20-something pals as they navigate the pitfalls of work, life and love in 1990s Manhattan.']],
      dtype=object)

In [6]:
dataset.values[0]

array([81145628, 'Movie', 'Norm of the North: King Sized Adventure',
       'Richard Finn, Tim Maltby',
       'Alan Marriott, Andrew Toth, Brian Dobson, Cole Howard, Jennifer Cameron, Jonathan Holmes, Lee Tockar, Lisa Durupt, Maya Kay, Michael Dobson',
       'United States, India, South Korea, China', 'September 9, 2019',
       2019, 'TV-PG', '90 min', 'Children & Family Movies, Comedies',
       'Before planning an awesome wedding for his grandfather, a polar bear king must take back a stolen artifact from an evil archaeologist first.'],
      dtype=object)

In [7]:
dataset.values[0][3]

'Richard Finn, Tim Maltby'

In [8]:
dataset.shape

(6234, 12)

In [9]:
dataset.dtypes

show id          int64
type            object
title           object
director        object
cast            object
country         object
date_added      object
release_year     int64
rating          object
duration        object
listed_in       object
description     object
dtype: object

In [10]:
dataset.dtypes.value_counts()

object    10
int64      2
dtype: int64

In [11]:
dataset.columns

Index(['show id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

In [12]:
dataset.axes

[RangeIndex(start=0, stop=6234, step=1),
 Index(['show id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
        'release_year', 'rating', 'duration', 'listed_in', 'description'],
       dtype='object')]

In [13]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6234 entries, 0 to 6233
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show id       6234 non-null   int64
 1   type          6234 non-null   object
 2   title         6234 non-null   object
 3   director      4265 non-null   object
 4   cast          5664 non-null   object
 5   country       5758 non-null   object
 6   date_added    6223 non-null   object
 7   release_year  6234 non-null   int64
 8   rating        6224 non-null   object
 9   duration      6234 non-null   object
 10  listed_in     6234 non-null   object
 11  description   6234 non-null   object
dtypes: int64(2), object(10)
memory usage: 584.6+ KB

In [14]:
dataset.describe() #Displays only for Number columns.

            show id  release_year
count  6.234000e+03    6234.00000
mean   7.670368e+07    2013.35932
std    1.094296e+07       8.81162
min    2.477470e+05    1925.00000
25%    8.003580e+07    2013.00000
50%    8.016337e+07    2016.00000
75%    8.024489e+07    2018.00000
max    8.123573e+07    2020.00000