# Difference Between Common Methods
By:<a href='https://www.youtube.com/wonkyCode'>WonkyCode</a>

In [1]:
import pandas as pd

dataset = pd.read_csv("datasets/heart_failure.csv")

In [2]:
dataset

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
0,75.0,0,582,0,20,1,265000.00,1.9,130,1,0,4,1
1,55.0,0,7861,0,38,0,263358.03,1.1,136,1,0,6,1
2,65.0,0,146,0,20,0,162000.00,1.3,129,1,1,7,1
3,50.0,1,111,0,20,0,210000.00,1.9,137,1,0,7,1
4,65.0,1,160,1,20,0,327000.00,2.7,116,0,0,8,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
294,62.0,0,61,1,38,1,155000.00,1.1,143,1,1,270,0
295,55.0,0,1820,0,38,0,270000.00,1.2,139,0,0,271,0
296,45.0,0,2060,1,60,0,742000.00,0.8,138,0,0,278,0
297,45.0,0,2413,0,38,0,140000.00,1.4,140,1,1,280,0
298,50.0,0,196,0,45,0,395000.00,1.6,136,1,1,285,0

In [3]:
s = pd.Series( [1,2,3,4,5,6] )

In [5]:
s

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [4]:
s.sum()

21

In [6]:
dataset.sum()

age                         1.818933e+04
anaemia                     1.290000e+02
creatinine_phosphokinase    1.739700e+05
diabetes                    1.250000e+02
ejection_fraction           1.138700e+04
high_blood_pressure         1.050000e+02
platelets                   7.874405e+07
serum_creatinine            4.167700e+02
serum_sodium                4.085100e+04
sex                         1.940000e+02
smoking                     9.600000e+01
time                        3.894800e+04
DEATH_EVENT                 9.600000e+01
dtype: float64

In [7]:
dataset.sum(axis="index")

age                         1.818933e+04
anaemia                     1.290000e+02
creatinine_phosphokinase    1.739700e+05
diabetes                    1.250000e+02
ejection_fraction           1.138700e+04
high_blood_pressure         1.050000e+02
platelets                   7.874405e+07
serum_creatinine            4.167700e+02
serum_sodium                4.085100e+04
sex                         1.940000e+02
smoking                     9.600000e+01
time                        3.894800e+04
DEATH_EVENT                 9.600000e+01
dtype: float64

In [8]:
dataset.sum(axis=0)

age                         1.818933e+04
anaemia                     1.290000e+02
creatinine_phosphokinase    1.739700e+05
diabetes                    1.250000e+02
ejection_fraction           1.138700e+04
high_blood_pressure         1.050000e+02
platelets                   7.874405e+07
serum_creatinine            4.167700e+02
serum_sodium                4.085100e+04
sex                         1.940000e+02
smoking                     9.600000e+01
time                        3.894800e+04
DEATH_EVENT                 9.600000e+01
dtype: float64

In [9]:
dataset.sum(axis="columns")

0      265815.90
1      271457.13
2      162371.30
3      210329.90
4      327374.70
         ...
294    155579.10
295    272324.20
296    744582.80
297    142919.40
298    395715.60
Length: 299, dtype: float64

In [ ]:
dataset.sum(axis=1)