# Adding a New Column To Dataframe
By:<a href='https://www.youtube.com/wonkyCode'>WonkyCode</a>

In [1]:
import pandas as pd

dataset = pd.read_csv("datasets/netflix.csv")

In [2]:
dataset.head(3)

,show id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...
1,80117401,Movie,Jandino: Whatever it Takes,NaN,Jandino Asporaat,United Kingdom,"September 9, 2016",2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...
2,70234439,TV Show,Transformers Prime,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,"September 8, 2018",2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob..."

In [3]:
dataset["genre"] = "Thriller"

In [4]:
dataset.head(3)

,show id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,genre
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...,Thriller
1,80117401,Movie,Jandino: Whatever it Takes,NaN,Jandino Asporaat,United Kingdom,"September 9, 2016",2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...,Thriller
2,70234439,TV Show,Transformers Prime,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,"September 8, 2018",2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob...",Thriller

In [5]:
dataset = pd.read_csv("datasets/netflix.csv")

In [6]:
dataset.head(3)

,show id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...
1,80117401,Movie,Jandino: Whatever it Takes,NaN,Jandino Asporaat,United Kingdom,"September 9, 2016",2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...
2,70234439,TV Show,Transformers Prime,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,"September 8, 2018",2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob..."

**Using <code>insert()</code> method to add new column:**

In [7]:
dataset.insert(3, column="genre", value="Drama")

In [8]:
dataset.head(3)

,show id,type,title,genre,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,81145628,Movie,Norm of the North: King Sized Adventure,Drama,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...
1,80117401,Movie,Jandino: Whatever it Takes,Drama,NaN,Jandino Asporaat,United Kingdom,"September 9, 2016",2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...
2,70234439,TV Show,Transformers Prime,Drama,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,"September 8, 2018",2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob..."

In [9]:
dataset.insert(10, column="budget", value=100)

In [10]:
dataset.head(3)

,show id,type,title,genre,director,cast,country,date_added,release_year,rating,budget,duration,listed_in,description
0,81145628,Movie,Norm of the North: King Sized Adventure,Drama,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,100,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...
1,80117401,Movie,Jandino: Whatever it Takes,Drama,NaN,Jandino Asporaat,United Kingdom,"September 9, 2016",2016,TV-MA,100,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...
2,70234439,TV Show,Transformers Prime,Drama,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,"September 8, 2018",2013,TV-Y7-FV,100,1 Season,Kids' TV,"With the help of three human allies, the Autob..."

In [11]:
dataset["collections"] = dataset["budget"] + 50

In [12]:
dataset.head(3)

,show id,type,title,genre,director,cast,country,date_added,release_year,rating,budget,duration,listed_in,description,collections
0,81145628,Movie,Norm of the North: King Sized Adventure,Drama,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,100,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...,150
1,80117401,Movie,Jandino: Whatever it Takes,Drama,NaN,Jandino Asporaat,United Kingdom,"September 9, 2016",2016,TV-MA,100,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...,150
2,70234439,TV Show,Transformers Prime,Drama,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,"September 8, 2018",2013,TV-Y7-FV,100,1 Season,Kids' TV,"With the help of three human allies, the Autob...",150

In [20]:
dataset.values[0][0] = 123

In [21]:
dataset

,show id,type,title,genre,director,cast,country,date_added,release_year,rating,budget,duration,listed_in,description,collections
0,81145628,Movie,Norm of the North: King Sized Adventure,Drama,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,100,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...,150
1,80117401,Movie,Jandino: Whatever it Takes,Drama,NaN,Jandino Asporaat,United Kingdom,"September 9, 2016",2016,TV-MA,100,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...,150
2,70234439,TV Show,Transformers Prime,Drama,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,"September 8, 2018",2013,TV-Y7-FV,100,1 Season,Kids' TV,"With the help of three human allies, the Autob...",150
3,80058654,TV Show,Transformers: Robots in Disguise,Drama,NaN,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,"September 8, 2018",2016,TV-Y7,100,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...,150
4,80125979,Movie,#realityhigh,Drama,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017,TV-14,100,99 min,Comedies,When nerdy high schooler Dani finally attracts...,150
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6229,80000063,TV Show,Red vs. Blue,Drama,NaN,"Burnie Burns, Jason Saldaña, Gustavo Sorola, G...",United States,NaN,2015,NR,100,13 Seasons,"TV Action & Adventure, TV Comedies, TV Sci-Fi ...","This parody of first-person shooter games, mil...",150
6230,70286564,TV Show,Maron,Drama,NaN,"Marc Maron, Judd Hirsch, Josh Brener, Nora Zeh...",United States,NaN,2016,TV-MA,100,4 Seasons,TV Comedies,"Marc Maron stars as Marc Maron, who interviews...",150
6231,80116008,Movie,Little Baby Bum: Nursery Rhyme Friends,Drama,NaN,NaN,NaN,NaN,2016,NaN,100,60 min,Movies,Nursery rhymes and original music for children...,150
6232,70281022,TV Show,A Young Doctor's Notebook and Other Stories,Drama,NaN,"Daniel Radcliffe, Jon Hamm, Adam Godley, Chris...",United Kingdom,NaN,2013,TV-MA,100,2 Seasons,"British TV Shows, TV Comedies, TV Dramas","Set during the Russian Revolution, this comic ...",150
6233,70153404,TV Show,Friends,Drama,NaN,"Jennifer Aniston, Courteney Cox, Lisa Kudrow, ...",United States,NaN,2003,TV-14,100,10 Seasons,"Classic & Cult TV, TV Comedies",This hit sitcom follows the merry misadventure...,150

**Useful References:**
* https://pandas.pydata.org/docs/getting_started/intro_tutorials/05_add_columns.html
* https://www.geeksforgeeks.org/adding-new-column-to-existing-dataframe-in-pandas/