# Broadcasting Operation on Dataframe
By:<a href='https://www.youtube.com/wonkyCode'>WonkyCode</a>

In [1]:
import pandas as pd

dataset = pd.read_csv("datasets/basketball.csv")

In [2]:
dataset.head(3)

,League,Season,Stage,Player,Team,GP,MIN,FGM,FGA,3PM,...,PTS,birth_year,birth_month,birth_date,height,height_cm,weight,weight_kg,nationality,high_school
0,NBA,2019 - 2020,Regular_Season,James Harden,HOU,68,2482.6,672,1514,299,...,2335,1989.0,Aug,"Aug 26, 1989",06-May,196.0,220.0,100.0,United States,Artesia High School
1,NBA,2019 - 2020,Regular_Season,Damian Lillard,POR,66,2473.7,624,1349,270,...,1978,1990.0,Jul,"Jul 15, 1990",06-Mar,191.0,195.0,88.0,United States,Oakland High School
2,NBA,2019 - 2020,Regular_Season,Devin Booker,PHX,70,2511.8,627,1283,141,...,1863,1996.0,Oct,"Oct 30, 1996",06-Jun,198.0,206.0,93.0,United States,Moss Point High School

In [3]:
dataset["MIN"].add(100)

0        2582.6
1        2573.7
2        2611.8
3        2016.9
4        2220.1
          ...
53793     178.0
53794     187.0
53795     173.0
53796     163.0
53797     161.0
Name: MIN, Length: 53798, dtype: float64

In [4]:
dataset["MIN"] + 200

0        2682.6
1        2673.7
2        2711.8
3        2116.9
4        2320.1
          ...
53793     278.0
53794     287.0
53795     273.0
53796     263.0
53797     261.0
Name: MIN, Length: 53798, dtype: float64

In [5]:
dataset["MIN"].sub(100)

0        2382.6
1        2373.7
2        2411.8
3        1816.9
4        2020.1
          ...
53793     -22.0
53794     -13.0
53795     -27.0
53796     -37.0
53797     -39.0
Name: MIN, Length: 53798, dtype: float64

In [6]:
dataset["MIN"] - 200

0        2282.6
1        2273.7
2        2311.8
3        1716.9
4        1920.1
          ...
53793    -122.0
53794    -113.0
53795    -127.0
53796    -137.0
53797    -139.0
Name: MIN, Length: 53798, dtype: float64

In [7]:
dataset["MIN"].mul(2)

0        4965.2
1        4947.4
2        5023.6
3        3833.8
4        4240.2
          ...
53793     156.0
53794     174.0
53795     146.0
53796     126.0
53797     122.0
Name: MIN, Length: 53798, dtype: float64

In [8]:
dataset["MIN"] * 3

0        7447.8
1        7421.1
2        7535.4
3        5750.7
4        6360.3
          ...
53793     234.0
53794     261.0
53795     219.0
53796     189.0
53797     183.0
Name: MIN, Length: 53798, dtype: float64

In [9]:
dataset["MIN"].div(2)

0        1241.30
1        1236.85
2        1255.90
3         958.45
4        1060.05
          ...
53793      39.00
53794      43.50
53795      36.50
53796      31.50
53797      30.50
Name: MIN, Length: 53798, dtype: float64

In [10]:
dataset["MIN"] / 3

0        827.533333
1        824.566667
2        837.266667
3        638.966667
4        706.700000
            ...
53793     26.000000
53794     29.000000
53795     24.333333
53796     21.000000
53797     20.333333
Name: MIN, Length: 53798, dtype: float64

In [11]:
dataset["AGE"] = 2021 - dataset["birth_year"]

In [12]:
dataset.head(3)

,League,Season,Stage,Player,Team,GP,MIN,FGM,FGA,3PM,...,birth_year,birth_month,birth_date,height,height_cm,weight,weight_kg,nationality,high_school,AGE
0,NBA,2019 - 2020,Regular_Season,James Harden,HOU,68,2482.6,672,1514,299,...,1989.0,Aug,"Aug 26, 1989",06-May,196.0,220.0,100.0,United States,Artesia High School,32.0
1,NBA,2019 - 2020,Regular_Season,Damian Lillard,POR,66,2473.7,624,1349,270,...,1990.0,Jul,"Jul 15, 1990",06-Mar,191.0,195.0,88.0,United States,Oakland High School,31.0
2,NBA,2019 - 2020,Regular_Season,Devin Booker,PHX,70,2511.8,627,1283,141,...,1996.0,Oct,"Oct 30, 1996",06-Jun,198.0,206.0,93.0,United States,Moss Point High School,25.0