# The <code>value_counts()</code> Method in Dataframes
By:<a href='https://www.youtube.com/wonkyCode'>WonkyCode</a>

In [1]:
import pandas as pd

dataset = pd.read_csv("datasets/basketball.csv")

In [2]:
dataset.head(3)

,League,Season,Stage,Player,Team,GP,MIN,FGM,FGA,3PM,...,PTS,birth_year,birth_month,birth_date,height,height_cm,weight,weight_kg,nationality,high_school
0,NBA,2019 - 2020,Regular_Season,James Harden,HOU,68,2482.6,672,1514,299,...,2335,1989.0,Aug,"Aug 26, 1989",06-May,196.0,220.0,100.0,United States,Artesia High School
1,NBA,2019 - 2020,Regular_Season,Damian Lillard,POR,66,2473.7,624,1349,270,...,1978,1990.0,Jul,"Jul 15, 1990",06-Mar,191.0,195.0,88.0,United States,Oakland High School
2,NBA,2019 - 2020,Regular_Season,Devin Booker,PHX,70,2511.8,627,1283,141,...,1863,1996.0,Oct,"Oct 30, 1996",06-Jun,198.0,206.0,93.0,United States,Moss Point High School

In [3]:
dataset["Team"].value_counts()

SAS    532
MIL    462
BAY    455
UNI    434
CHA    421
      ...
DOX      3
MAY      3
VOL      2
WES      1
OTO      1
Name: Team, Length: 793, dtype: int64

In [4]:
dataset["birth_year"].value_counts().head(3)

1989.0    3488
1988.0    3251
1990.0    3226
Name: birth_year, dtype: int64

In [5]:
dataset.size

1667738

In [6]:
dataset["birth_year"].value_counts().tail()

2003.0    30
1964.0    28
1962.0    19
2004.0    10
1961.0     2
Name: birth_year, dtype: int64

In [9]:
dataset["birth_year"].value_counts(ascending = True).tail()

1987.0    2978
1985.0    3099
1990.0    3226
1988.0    3251
1989.0    3488
Name: birth_year, dtype: int64

In [10]:
dataset.value_counts(subset = ["Team"], ascending = True)

Team
WES       1
OTO       1
VOL       2
OSO       3
CON       3
       ...
CHA     421
UNI     434
BAY     455
MIL     462
SAS     532
Length: 793, dtype: int64

In [11]:
dataset.value_counts(subset = ["Team", "birth_year"], ascending = True)

Team  birth_year
SAO   1989.0         1
RIG   1982.0         1
      1981.0         1
RIB   1997.0         1
      1993.0         1
                    ..
ATL   1986.0        47
BAY   1989.0        52
UNI   1980.0        57
RUL   1988.0        58
SAS   1982.0        63
Length: 11629, dtype: int64

In [12]:
dataset.value_counts()

League                 Season       Stage           Player             Team  GP  MIN     FGM  FGA  3PM  3PA  FTM  FTA  TOV  PF   ORB  DRB  REB  AST  STL  BLK  PTS   birth_year  birth_month  birth_date    height  height_cm  weight  weight_kg  nationality    high_school
Ukrainian-Superleague  2019 - 2020  International   Zach Jackson       KHAR  18  516.8   80   172  20   58   42   54   38   32   9    57   66   28   17   2    222   1997.0      Aug          Aug 13, 1997  06-May  196.0      185.0   84.0       United States  Wichita High School East             1
Finnish-Korisliiga     2017 - 2018  International   Jermaine Marshall  HEL   42  1177.6  253  554  111  270  131  153  75   115  17   136  153  92   41   24   748   1990.0      Nov          Nov 7, 1990   06-Apr  193.0      215.0   98.0       United States  Red Land Senior High School          1
                                                    Jervon Pressley    ESPO  26  546.3   129  212  0    1    53   109  52   83   64   132  196  12   10   38   311   1992.0      Dec          Dec 16, 1992  06-Aug  203.0      250.0   113.0      United States  E.E. Waddell High School             1
                                                    Johnathan Jordan   SAL   20  550.9   128  269  25   72   87   122  45   38   23   81   104  86   24   5    368   1992.0      Oct          Oct 7, 1992   05-Oct  178.0      180.0   82.0       United States  Hightower High School                1
                                                    Juan Pattillo      KOR   26  827.9   248  454  0    3    75   118  63   46   44   161  205  49   44   16   571   1988.0      Mar          Mar 12, 1988  06-Jun  198.0      225.0   102.0      United States  Canyon Springs High School           1
                                                                                                                                                                                                                                                                                                     ..
NBA                    2005 - 2006  Regular_Season  Jarron Collins     UTA   79  1729.3  129  280  0    0    157  219  61   252  134  199  333  97   36   27   415   1978.0      Dec          Dec 2, 1978   06-Nov  211.0      248.0   112.0      United States  Harvard-Westlake School              1
                                                    Jason Collins      NJN   71  1895.0  104  262  3    12   44   86   61   251  93   249  342  70   46   40   255   1978.0      Dec          Dec 2, 1978   7-0     213.0      255.0   116.0      United States  Harvard-Westlake School              1
                                                    Jason Hart         SAC   66  817.8   86   221  9    31   37   56   43   85   12   59   71   70   31   5    218   1978.0      Apr          Apr 29, 1978  06-Mar  191.0      180.0   82.0       United States  Inglewood High School                1
                                                    Jason Kidd         NJN   80  2976.1  366  905  139  395  194  244  192  157  86   494  580  672  150  29   1065  1973.0      Mar          Mar 23, 1973  06-Apr  193.0      210.0   95.0       United States  St. Joseph Notre Dame High School    1
Argentinian-Liga-A     2011 - 2012  International   Bernard Robinson   AAQ   45  1252.4  181  380  36   100  80   106  88   120  36   156  192  74   45   8    478   1980.0      Dec          Dec 26, 1980  06-Jun  198.0      210.0   95.0       United States  Dunbar High School                   1
Length: 23414, dtype: int64